---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="index">
	<section class="text-center mb-10">
		<h1 class="text-4xl font-bold text-gray-800 mb-4">Bienvenido a <span class="bg-gradient-to-r from-blue-600 to-indigo-400 text-transparent bg-clip-text">MyStudy</span><span class="text-3xl">游늿</span></h1>
		<p class="text-gray-700 mb-8">Una comunidad donde puedes hacer preguntas sobre temas de estudio como f칤sica, matem치ticas, programaci칩n y recibir ayuda de otros.</p>
		<a href="/forums" class="bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600">Explorar Foros</a>
	</section>
	
	<section class="mb-10">
		<h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Foros Destacados</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			<Card title="Ayuda con ejercicios de din치mica" description="Estoy teniendo problemas para resolver ejercicios de din치mica en f칤sica. 쮸lguien puede explicarme los conceptos b치sicos?" link="/forums/ayuda-con-ejercicios-de-dinamica" category="F칤sica" />
			<Card title="Dudas sobre integrales triples" description="No entiendo c칩mo resolver integrales triples en c치lculo. 쯇odr칤an darme algunos ejemplos paso a paso?" link="/forums/dudas-sobre-integrales-triples" category="Matem치ticas"/>
			<Card title="Optimizaci칩n de c칩digo en Python" description="Mi c칩digo en Python est치 funcionando muy lento. 쮸lguien tiene consejos para optimizarlo?" link="/forums/optimizacion-de-codigo-en-python" category="Programaci칩n" />
		</div>
	</section>
</Layout>

<style>

</style>
